.wrapper {
    background-color: black;
    border: 10px solid white;
    width: 100vw;
    height: 100vh;
    color: white;
    padding-top: 15vh;
    padding-left: 15vw;
}

.large {
    text-align: center;
    font-size: x-large;
}

.noMargin {
    margin: 0px;
}